// font
$textFont = "Cascadia Mono", "Noto Sans SC", "PingFang SC"
$h1Font = "Cascadia Mono", "Microsoft YaHei Light", "DengXian Light", "SimHei", "KaiTi", "PingFang SC"
$h2Font = "Cascadia Mono", "Microsoft YaHei Light", "PingFang SC"
$h3Font = "Cascadia Mono", "Microsoft YaHei Light", "PingFang SC"
$infoFont = $textFont
$comFont = $textFont
$roleFont = $textFont
$tagFont = $textFont
$rightFont = $textFont


// font-size
$fontSize = 13px
$h1FontSize = 2.3em
$h2FontSize = 1.45em
$h3FontSize = 1.25em
$h3SubFontSize = 1.05em
$h3ElemFontSizeRatio = 0.9  // info/com/role/tag/right

$fontWeight = 450
$lineHeight = 1.5
$textMaxWidth = 85ch

$h2BorderBottomSize = 2px // 0.18rem
$h3BorderBottomSize = 1.5px // 0.12rem

// colors
$textColor = rgba(0, 0, 0, 0.8)
$h1Color = rgba(0, 0, 0, 1)
$h2Color = rgba(0, 0, 0, 0.65)
$h3Color = rgba(0, 0, 0, 0.9)
$h3SubColor = rgba(80, 80, 80, 0.9)
$infoColor = rgba(0, 0, 0, 0.7)
$comColor = rgba(190, 150, 100, 1)
$roleColor = rgba(126, 126, 192, 1)
$tagColor = rgba(57, 167, 207, 1)
$rightColor = rgba(0, 0, 0, 0.6)

$h2BorderColor = rgba(211, 211, 211, 1)
$h3BorderColor = rgba(234, 236, 239, 1)

$accentColor = #4688F1
$codeBgColor = #282c34
$arrowBgColor = #ccc


// margin
$h2MarginTop = 0.8em
$h2MarginBottom = 0.6em
$h2HasH3MarginBottom = 0.8em

$h3MarginTop = 0.6em  // 调整项目与上一个项目之间的间距
$h3MarginBottom = 0.3em  // 调整项目与详情之间的间距
$h3SubMarginTop = 0.3em  // 调整子项目与上一个子项目之间的间距
$h3SubMarginTopFirst = 0.2em  // 调整主项目与子项目之间的间距

// head3-container
$titleMaxWidth = 9.5rem  // 项目标题最大宽度
$comMaxWidth = 4.3rem;   // 公司最大宽度
$roleMaxWidth = 5.5rem;  // 角色最大宽度


// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 760px


// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px


// code
$lineNumbersWrapperWidth = 3.5rem


@require './palette'
@import '~@temp/palette.styl' // generated from user config
